<div class="container">

  <h1>Input</h1>

  <div>
    <form>
      <input type="text"
             ngxPhoneInput
             [phoneInputOptions]="{initialCountry: 'ke'}"
             (intlTelInputObject)="telInputObject($event)"/>
    </form>
  </div>

  <hr>
  <h1>Boostrap</h1>

  <form>
    <div class="mb-3">

      <input ngxPhoneInput class="form-control"
             type="tel"
             [phoneInputOptions]="{initialCountry: 'ke', preferredCountries:['ke', 'ug', 'tz']}"
             (intlTelInputObject)="telInputObject($event)"/>
    </div>
  </form>

  <hr>
  <h1>Material (WIP)</h1>

  <div class="mat">


    <mat-tab-group dynamicHeight animationDuration="0ms">

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>phone</mat-icon>
          Phone Number
        </ng-template>

      </mat-tab>
    </mat-tab-group>

    <form novalidate>
      <div style="margin-right: 20px">
        <mat-form-field>
          <mat-label class="mat-input-label">Phone Number</mat-label>

          <input matInput ngxPhoneInput
                 type="tel"
                 [phoneInputOptions]="{
                              initialCountry: 'ke',
                              preferredCountries:['ke', 'ug', 'tz'],
                              utilsScript: './node_modules/intl-tel-input/build/js/utils.js'}"
                 (intlTelInputObject)="telInputObject($event)"/>
        </mat-form-field>
      </div>

    </form>
  </div>

</div>


