<div class="container">

  <h1>Input</h1>

  <div>
    <form>
      <input type="text"
             ngxPhoneInput
             [phoneInputOptions]="{initialCountry: 'ke'}"
             (intlTelInputObject)="telInputObject($event)"/>
    </form>
  </div>

  <hr>
  <h1>Boostrap</h1>

  <form>
    <div class="mb-3">

      <input ngxPhoneInput class="form-control"
             type="tel"
             [phoneInputOptions]="{initialCountry: 'ke', preferredCountries:['ke', 'ug', 'tz']}"
             (intlTelInputObject)="telInputObject($event)"/>
    </div>
  </form>

  <hr>
  <h1>Material Themed</h1>

  <form novalidate>

    <div class="field-group">
      <div class="mat-text-field">
        <input ngxPhoneInput class="mat-text-field__input"
               type="tel"
               [phoneInputOptions]="{initialCountry: 'ke', preferredCountries:['ke', 'ug', 'tz']}"
               (intlTelInputObject)="telInputObject($event)"/>
      </div>
      <label class="mat-floating-label">Phone Number</label>
    </div>
  </form>

</div>


